:root {
	--primary: #ff4817;
	--secondary: #c2a190;
	--background: #e9ffae;
	--pink: #f98adc;
	--olive: #9e830f;
  --border: #dbff86;
  --mustard: #e3bc00;
}


*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
  font-family: 'pinopolis';
  line-height: 1.5;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	background: var(--border);
  padding: 35px;
}

main {
  margin:auto;
  width: 100%;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--olive);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
  background: #fff;
}
@media (min-width: 767px){
footer{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header{
	text-align:center;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}
header .logo{
  display: block;
}
header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: white;
}
.bg-acid{
  background: var(--border);
}

.text-center{
  text-align: center;
}
/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: inherit;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--border);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

.red{
  color: var(--primary);
}
.green{
  color: var(--olive);
}
.blue{
  color: var(--secondary);
}

@font-face {
	font-family: 'kalakala';
	src: url('/static/img/Kalakala-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
  font-family: 'pinopolis';
  src: url('/static/img/Pinopolis-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body{
	font-family: 'pinopolis';
}


.mixed-fonts span{
  font-family: 'kalakala';
}
input[type="text"], textarea {
  border: 1px solid #000;
  padding: 20px;
  width: 100%;
}
.submit-button{
  width: 100%;
  color: var(--pink);;
  background: #9e830f;
  padding: 20px;
  font-size: 30px;
  font-family: 'pinopolis';
}


.py-2 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}



@charset "UTF-8";
/*
  # Kirby Starterkit
  
  This CSS file handles all of the styling in of Kirby’s
  Starterkit. Feel free to tinker around with it and
  adjust it according to your needs.  
  
  ## Color Definitions
  
  The following colors used in the Starterkit. If you want
  to use this CSS file as a starting point for your own
  project, you can do a simple search & replace to adjust
  the color scheme to your needs.
  
  - Background:            #fffff8
  - Text:                  #261e66
  - Hovered Links:         #560bed
  - Active Button BG:      #4509be
  - Caption BG in projects
	showcase:              rgba(38, 30, 102, .95)

  - Highlight, Selection,
	Link Underline:        #2e6fff
  - Tap color
	(touch devices):       rgba(113, 239, 172, .5)
  - Marked Text BG,
	Callout Boxes BG:      #2e6fff

  - Menu Separator,
	<hr> in text:          #a8a5be
  - Blockquote BG:         #fffffd
  
  ## Table of Contents
  
  1 Global Rules & Definitions
  1.1 Font Definitions
  1.2 Reset & Normalization
  1.3 General Typography
  1.4 Images & Figures
  
  2 Layout Helpers & Reusable Components
  2.1 Kirbytext
  2.2 Button
  2.3 Grid & Layout
  2.4 Pagination
  2.5 Projects Showcase
  
  3 Site Layout
  3.1 Header
  3.2 Menu
  3.3 Sticky Footer
  3.4 Main Content
  
  4 Template-specific Components
  4.1 Homepage
  4.2 Blog Article
  4.3 Team
  4.4 Contact
  
*/

/* Don't Steal!! */
img {pointer-events: none;-webkit-user-drag: none; 
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;}

/* =====  1 Global Rules & Definitions  ===================================== */

/* -----  1.1 Font Definitions  --------------------------------------------- */




/* -----  1.2 Reset & Normalization  ---------------------------------------- */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  /* Add correct display for IE 9- and some newer browsers */
  display: block;
}

::-moz-selection {
  background: #2e6fff;
  color: #261e66;
}

::selection {
  background: #2e6fff;
  color: #261e66;
}

/* -----  1.3 General Typography  ------------------------------------------- */

h1, h2, h3, h4, h5, h6,
p, ul, ol, figure, pre {
  /* Reset font-sizes and normalize margins */
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 1.5rem;
}

/* Headings */
h1, h2, h3 {
  font-family: 'pinopolis';;
  font-weight: bolder;
}

h1 {
  font-size: 5rem;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'kalakala';
}

h2 {
  font-size: 2.75rem;
  line-height: 2.2rem;
  text-align: center;
}

h3 {
  font-size: 2.25em;
  line-height: 1.2;
  color: #333333;
}
h3 a{
  color:#333333 !important;
}
h3 a:hover{
  color:var(--olive) !important;
}


h4 {
  font-size: 1em;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #560bed;
}

/* Misc */
hr {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  color: #000;
  width: 100px;
  margin: auto;
}

hr::after {
  content: url("/media/squiggle.svg");
  position: relative;
  padding: 0 .25rem;
  top: -.25rem;
  width: 100px;
}

h1 + hr,
.intro + hr {
  /* Shift a <hr> right after an `.intro`
	 or <h1> block one line up. */
  margin-top: -1.5rem;
}

i, em {
  /* Vesper Libre does not have Italics,
	 so we use a the *medium* weight instead */
  font-weight: 500;
  font-style: normal;
}

b, strong {
  font-weight: 700;
}

mark {
  padding: .1em .05em;
  margin: -.1em 0;
  color: #261e66;
  background: #2e6fff;
}

.social-icons{
  font-size: 30px;
}

/* -----  1.4 Images & Figures  --------------------------------------------- */

img {
  border-style: none;
  width: 100%;
  height: auto;
}

figcaption {
  font-size: .75rem;
  line-height: 1.5rem;
}

/* =====  2 Layout Helpers & Reusable Components  =========================== */

/* The Clearfix™: A classic … */
.cf::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* -----  2.1 Kirbytext  ---------------------------------------------------- */

.intro {
  font-family: 'pinopolis';;
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}
.home.intro{
	font-size: 2rem;
}
h1 + .intro {
  margin-top: -2.25rem;
}

.text h2, .text h3 {
  margin-top: 3rem;
}

.text ul, .text ol {
  margin-left: 1.5em;
}

.text hr {
  /* We use a more muted style for horizontal rules within
	 the main content. */
  color: #a8a5be;
}

.text ul {
  list-style: none;
}

.text ul > li::before {
  content: "–";
  display: inline-block;
  position: relative;
  width: 1.25em;
  margin-right: -1.25em;
  left: -1.25em;
  padding-left: .25em;
}

.text ol > li {
  list-style: decimal;
}

.text pre, .text code {
  background-color: #2e6fff;
  font-family: Courier, monospace;
  font-size: .75rem;
}

.text code {
  margin: -.25em 0;
  padding: .25em .15em;
  position: relative;
  bottom: .05em;
}

.text pre > code {
  display: block;
  margin: 0;
  padding: .8em;
  position: static;
  bottom: auto;
  overflow-x: auto;
}

@supports (-webkit-overflow-scrolling: touch) {
  .text pre > code {
	/* Enables smoother scrolling for code sections on
	   mobile (i.e. touch) devices. */
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
  }
}

.text kbd {
  padding: 3px 7px;
  margin: -3px 2px;
  font-size: 75%;
  line-height: 1;
  background: #e9e9e9;
  border-radius: 4px;
  box-shadow: 0 2px 0 #c9c7d4;
  font-family: 'pinopolis';
  position: relative;
  bottom: 2px;
}

.text blockquote {
  font-family: 'pinopolis';
  border-left: 2px solid #a8a5be;
  padding: .75rem;
  background: #fffffd;
}

.text blockquote :last-child {
  margin-bottom: 0;
}

/* -----  2.2 Button  ------------------------------------------------------- */

.btn {
  display: inline-block;
  border: 2px solid;
  padding: .6em .75em;
  white-space: nowrap;
  font-size: .75em;
  font-family: 'pinopolis';
  line-height: 1;
  font-weight: 400;
}

.btn:hover, .btn:focus {
  background: #261e66;
  border-color: #261e66;
  color: #2e6fff;
}

.btn:active {
  background: #4509be;
  border-color: #4509be;
}

.cd-intro{
	background: #c14e00;
}
.currently-working-on{
  background: var(--border);
  text-align:center;
  margin: 10px -1em;
  padding: 40px 20px;
  margin-bottom: 18px;
}
/* ----- 2.5 Projects Showcase ---------------------------------------------- */

.showcase {
  position: relative;
}

.showcase-item {
  list-style: none;
  margin-bottom: .75rem;
  position: relative;
}

@media all and (min-width: 38em) {
  .showcase-item {
	width: 33.33%;
  }
  .showcase-item:nth-last-child(3n+2):first-child,
  .showcase-item:nth-last-child(3n+2):first-child + .showcase-item, .showcase-item:nth-last-child(3n+1):first-child,
  .showcase-item:nth-last-child(3n+1):first-child ~ .showcase-item:nth-child(-n+4) {
	/* x = items
	   When x % 3 = 2, select first and second item:
	   When x % 3 = 1, select first 4 items: */
	width: 50%;
  }
}

.showcase-link {
  display: block;
  position: relative;
  padding-top: 100%;
  z-index: 0;
  border-bottom: 0;
}

.showcase-caption {
  position: absolute;
  top: .75rem;
  left: .75rem;
  right: .75rem;
  bottom: .75rem;
  background: rgba(167, 154, 7, 0.93);
  color: #000;
  letter-spacing: .05em;
  opacity: 0;
  -webkit-transition: .25s opacity;
  transition: .25s opacity;
  will-change: opacity;
}

.showcase-title {
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  padding: 0 1.5rem;
  /* Vertically center the caption */
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
		  transform: translateY(-50%);
}

.showcase-image {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.showcase-link:hover .showcase-caption,
.showcase-link:focus .showcase-caption {
  opacity: 1;
}

@media (any-hover: none) {
  .showcase-caption {
	/* The media query, enclosing these rules matches only
	   touch-screen devices that do not support hover due
	   to the lack of a pointing device like a mouse.
	   It does not work in all mobile browsers, but
	   progressively enhances the experience on supported
	   devices. Tested in Safari (iOS) 9.3 */
	opacity: 1.0;
	/* Reset will-change property to keep it from eating
	   up unneccessary resources on touch-only devices */
	will-change: auto;
  }
  .showcase-title {
	font-size: .85em;
  }
}

/* =====  3 Site Layout  ==================================================== */

html {
  color: #000;
  font-size: 1.5em;
  /* Always show the vertical scrollbar to prevent `jumps`
	 of page content after navigating from a very short page
	 that does not scroll to a long pager */
  overflow-y: scroll;
  /* Setting this to `default` prevents the cursors from
	 changing when hovering blocks of text or whitespace,
	 which is less distracting */
  cursor: default;
  /* Neccessary for sticks footer. */
  position: relative;
  min-height: 100%;
  /* Prevent adjustments of font size after orientation
	 changes in IE and iOS. */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Highlight color for WebKit-bases touch devices. */
  -webkit-tap-highlight-color: rgba(46, 111, 255, .5);
}

@media all and (max-width: 30em) {
  html {
	/* We decrease the font-size a little-bit for tiny
	   screens. Because this stylesheet uses relative units
	   everywhere, everything scales nicely. */
	font-size: 1.25em;
  }
}

/* ----- 3.1  Header  ------------------------------------------------------- */

.branding img{
	width: 200px;
}

.branding a {
  border-bottom: 0;
}

@media all and (min-width: 56em) {

  .branding {
	line-height: 3rem;
	margin-bottom: 0;
	white-space: nowrap;
	text-align: left;
  }
  .branding,
  .navigation {
	vertical-align: baseline;
  }
}

/* -----  3.2 Menu  --------------------------------------------------------- */

.menu {
  text-align: left;
  font-weight: 500;
}

.menu-item a {
  border-bottom: 0;
}

.menu-item.is-active a {
  border-bottom: 2px solid #2e6fff;
}

@media all and (min-width: 56em) {
  .menu {
	text-align: right;
  }
}

/* -----  3.3 Sticky Footer  ------------------------------------------------ */

@keyframes pulsing-heart {
  0% {
	transform: scale(1);
  }
  25% {
	transform: scale(1.2);
  }
  50% {
	transform: scale(1);
  }
  100% {
	transform: scale(1);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  font-size: .5rem;
}

.footer p {
  margin-bottom: 0;
}

.footer a {
  border-bottom: 0;
}

.branding a:hover img {
  animation: pulsing-heart .6s linear infinite;
}


/* -----  3.4 Main Content  ------------------------------------------------- */

.main{
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.artist-bio {
	margin-top: 3rem;
}
.instagram {
	background: #efb6c0;
	padding: 1.5rem 0;
}

/* =====  4 Template-specific Components ==================================== */

/* -----  4.1 Homepage  ----------------------------------------------------- */

.projects-section {
  background: #7e7110;
  margin-top: 3rem;
  padding-top: 2.25rem;
  padding-bottom: .75rem;
  color: white;
}

.projects-section-more {
  text-align: center;
}

.button{
	text-align: center;
	background: #f99f1a;
	padding: 10px 20px;
	margin: auto;
	display: block;
	width: 200px;
	color: white;
	margin-top: -30px;
	margin-bottom: 20px;
}
.button:hover{
	background: pink;
	color: white;
}
/* ----- 4.2 Blog Article  -------------------------------------------------- */

.article-title {
  font-weight: 700;
  margin-bottom: 0;
}

.article-title a {
  border-bottom: 0;
}

.article-date {
  text-align: center;
}

.article:last-of-type + hr {
  /* Hide last <hr> on blog page */
  display: none;
}

.article-more {
  font-size: 75%;
  text-transform: uppercase;
  font-family: 'Trocchi', serif;
  letter-spacing: .025em;
  white-space: nowrap;
  border-bottom: 2px solid #2e6fff;
}

/* -----  4.4 Contact  ------------------------------------------------------ */

.contact-options {
  list-style: none;
  margin-bottom: 3rem;
  margin-left: -.375rem;
  margin-right: -.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
}

.contact-item {
  padding: 0 .375rem;
  background: #2e6fff;
  background-clip: content-box;
  text-align: center;
  font-size: .85rem;
  width: 100%;
  margin-bottom: .75rem;
  /* By using flexbox for a contact option’s content,
	 we can ensure, that the action button in each
	 box always aligns euqally to the bottom
	 of that box. */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
		  flex-direction: column;
}

@media all and (min-width: 40em) {
  .contact-item {
	width: 50%;
  }
}

@media (min-width: 62.5em) {
  .contact-item {
	width: 25%;
  }
}

.contact-item-icon {
  max-width: 50%;
  margin-bottom: 1.5em;
}

.contact-item-title {
  margin-bottom: 1.5em;
}

.contact-item-content {
  padding: 1.5rem 2.25em .375em;
  -webkit-box-flex: 1;
	  -ms-flex-positive: 1;
		  flex-grow: 1;
}

.contact-twitter {
  text-align: center;
  font-weight: 500;
  position: relative;
}

.contact-twitter h2 {
  margin-bottom: 3rem;
}

.contact-twitter h2::before {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  background: url(../images/logo.svg) 50% 50%/contain no-repeat;
  margin: 3rem auto 1.5rem;
}

@media all and (min-width: 36em) {
  .contact-twitter p:not(:first-of-type) {
	width: 50%;
	float: left;
  }
}

@media all and (min-width: 46em) {
  .contact-twitter p:not(:first-of-type) {
	width: 33.33%;
  }
}


.menu-toggle{
	text-align: right;
}

.menu-toggle a {
  font-size: 27px;
  color: #000;
  border: none;
}
.menu-toggle a:hover {
  color: #2e6fff;
}

.drawers {
  display: block;
  position: absolute;
  right: -330px;
  top: 50px;
  bottom: 0;
  width: 280px;
  overflow: hidden;
	-webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  transition: all .3s ease-out;
  height: 100vh;
  padding: 15px;
  opacity: 0;
  background: #c2a190;
  z-index: 1;
}
.drawers ul {
  padding: 0;
  margin: 0;
}
.drawers ul li {
  color: #000;
  padding: 10px 5px;
  font-weight: 100;
}
.drawers ul li a{
	display: block;
	color: #000;
	font-family: 'pinopolis';;
}
.drawers ul li a:hover {
  cursor: pointer;
  color: pink
}

.menu-closer {
  display: none;
}

.menu-toggle.open + .drawers {
  right: 0px;
  opacity: 1;
}
.menu-toggle.open .menu-opener {
  display: none;
}
.menu-toggle.open .menu-closer {
  display: inline;
}

 
.articles {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
   
    line-height:30px;
    background: repeating-conic-gradient(var(--secondary) 0% 25%, transparent 0% 50%) 
    50% / 20px 20px
}
.articles article {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1;
    height:auto;
    display:flex;
    padding:20px;
    align-items:center;
    justify-content:center;
    margin-bottom: 0;
    border:none;
    position: relative;
}
.articles article:nth-child(odd) {
  background: var(--secondary);
}
.articles article:nth-child(even) {
  background: var(--mustard);
}
.articles article:before {
    content:'';
    padding-top:100%;
}
.articles article time{
      position: absolute;
      top: 0;
      left: 0;
}
article time{
  padding: 10px;
  background: #fe4817;
}
@media (max-width: 980px){
  body{
    padding: 35px 0;
  }
  h1{
    font-size: 3rem;
  }
}

