<nav role="navigation">
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>
    
    {% set navPages = collections.all | eleventyNavigation %}
    <ul id="menu">
    {%- for entry in navPages %}
      <li>
        <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
      </li>
    {%- endfor %}
    <li><a href="https://butterbean.substack.com/" target="_blank">Newsletter</a></li>
    <li><a href="https://spoonflower.com/profiles/bashfulbirdie?sort=new" target="_blank">Spoonflower Shop</a></li>
    </ul>
  </div>
</nav>
<div class="social-icons">
<a href="https://www.instagram.com/lisacartretteillustration/" target="_blank"><i class="fab fa-instagram"></i></a>
<a href="mailto:lisacartretteillustration@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
</div>