<nav role="navigation">
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>
    
    {% set navPages = collections.all | eleventyNavigation %}
    <ul id="menu">
    {%- for entry in navPages %}
      <li>
        <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
      </li>
    {%- endfor %}
    <li><a href="https://butterbean.substack.com/" target="_blank">Butterbean Substack</a></li>
    </ul>
  </div>
</nav>