<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<a href="{{ '/' | url }}" class="logo"><img src="/static/img/quiltblock-02.png" style="width:100px;margin:auto;"/></a>
			<a href="{{ '/' | url }}" class="logo"><img src="/static/img/logo.png" style="width:200px;margin:auto;"/></a>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
