---
layout: layouts/base.njk
section: home
---

<div class="currently-working-on">
{{ layoutContent | safe }}
</div>


{% set postslist = collections.post %}
{% include "components/postslist.njk" %}

