---
layout: layouts/base.njk
section: home
---

<div class="currently-working-on">
{{ layoutContent | safe }}
</div>


{% set postslist = collections.post %}
{% include "components/postslist.njk" %}

<iframe src="https://butterbean.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
