---
layout: layouts/base.njk
section: home
---
<h1 id="text">What's Lisa doing now?</h1>

<div class="currently-working-on">
{{ layoutContent | safe }}
</div>


{% set postslist = collections.post %}
{% include "components/postslist.njk" %}

